#map {
	padding-left: 2%;
	height:700px;
	width: 65%;
	padding: 2%;
	
}


#container {
	height: 100%;
	padding: 3%;
}

#bodycontainer {	
	display: flex;
}
 
 #searchlist {		
	padding-right:2%;
	width: 30%;
}
 
#custom-search-input button {	
	padding: 1.5% 3%;
	margin-top: 2%;
	position: relative;
	left: -30px;
	
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.header-title {
  color: #2d3c49;  
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  text-align: left;
  padding-left: 2%;
  padding-right:2%;
}
